@media (max-width:768px) {
    .hero h1 {
        font-size: 50px;
    }
    .hero h3 {
        font-size: 26px;
    }
    .hero p {
        font-size: 18px;
    }
    .hero-tag {
        font-size: 14px;
    }
    .hero-image img {
        width: 90%;
        max-width: 350px;
        margin: 0 auto;
    }
    .buttons {
        justify-content: center;
        flex-wrap: wrap;
    }
    .stats,
    .news-container,
    .timeline-container,
    .gallery-container,
    .footer-content,
    .about {
        grid-template-columns: 1fr;
        flex-direction: column;
    }
    .menu-toggle {
        display: block;
        font-size: 38px;
        color: #fff;
        cursor: pointer;
        z-index: 1001;
    }
    .nav-links {
        position: fixed;
        top: 80px;
        right: 15px;
        width: 220px;
        background: #081b29;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: .35s ease;
        box-shadow: 0 0 20px rgba(0, 171, 240, .3);
    }
    .nav-links.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}